{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block apropos %}
    class="active"
{% endblock %}

{% block apropos2 %}
    class="active"
{% endblock %}

{% block body %}
   <div class="container">
	   <div class="row">
			<div class="">
				<h1>Les Origines du Projet</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quisquam, facere a dolorum! Earum nihil modi quae pariatur quibusdam, provident neque aliquid ad officiis, dolor ipsum. Voluptatem vel, placeat ducimus!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quisquam, facere a dolorum! Earum nihil modi quae pariatur quibusdam, provident neque aliquid ad officiis, dolor ipsum. Voluptatem vel, placeat ducimus!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quisquam, facere a dolorum! Earum nihil modi quae pariatur quibusdam, provident neque aliquid ad officiis, dolor ipsum. Voluptatem vel, placeat ducimus!</p>
			</div>
	   </div>

	   <div class="row align-center">
	   		<div class="col s12 m12 l4 xl4">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_yohann.svg" alt="avatar Yohann" width="200" height="200"/>
	   			<h2>Yohann</h2>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea atque ad quia quibusdam cumque! Quam possimus corrupti, commodi vero, quisquam aliquid ullam nostrum quasi totam dolores eos voluptas illum architecto.</p>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores error sapiente nesciunt consequuntur quam odio dolore animi assumenda, deserunt inventore distinctio delectus, optio explicabo voluptate? Eveniet facilis ipsam quae.</p>
	   			<img src="img/XXX.svg" alt="github" width="100" height="100"/>
	   		</div>

	   		<div class="col s12 m12 l4 xl4">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_flo.svg" alt="avatar Floriane" width="200" height="200"/>
	   			<h2>Floriane</h2>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea atque ad quia quibusdam cumque! Quam possimus corrupti, commodi vero, quisquam aliquid ullam nostrum quasi totam dolores eos voluptas illum architecto.</p>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores error sapiente nesciunt consequuntur quam odio dolore animi assumenda, deserunt inventore distinctio delectus, optio explicabo voluptate? Eveniet facilis ipsam quae.</p>
	   			<img src="img/XXX.svg" alt="github" width="100" height="100"/>
	   		</div>

	   		<div class="col s12 m12 l4 xl4">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_tony.svg" alt="avatar Anthony" width="200" height="200"/>
	   			<h2>Anthony</h2>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea atque ad quia quibusdam cumque! Quam possimus corrupti, commodi vero, quisquam aliquid ullam nostrum quasi totam dolores eos voluptas illum architecto.</p>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores error sapiente nesciunt consequuntur quam odio dolore animi assumenda, deserunt inventore distinctio delectus, optio explicabo voluptate? Eveniet facilis ipsam quae.</p>
	   			<img src="img/XXX.svg" alt="github" width="100" height="100"/>
	   		</div>
	   </div>
   </div>




{% endblock %}
