{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block apropos %}
	class="active"
{% endblock %}

{% block apropos2 %}
	class="active"
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="">
				<h1>Les Origines du Projet</h1>

        <p>L'application "Poop-time" est issue d'un projet étudiant. Floriane, Anthony et Yohann sont 3 développeurs-juniors et ils cherchaient à l'époque une idée afin de répondre aux exigences d'un projet de groupe. Au départ, l'application était centrée sur l'emplacement des mairies, puis des musées. Mais le projet n'était pas assez intéréssant/amusant pour les 3 compères. La phrase "On est un peu dans le caca" restera dans les anales (Sans mauvais jeu de mot) car elle fut à l'origine du développement de "Poop-time"! Le projet était lancé! "Poop-time" deviendrait la première application made in france à géolocaliser les toilettes publiques les plus proches pour tous les utilisateurs. </p>

        <p>L'application se veut open-source, participative et gratuite. L'objectif, à travers la communauté d'utilisateur, est de proposer à toutes personnes ayant une soudaine envie d'aller au toilette de pouvoir trouver chaussure à son pied ou tout du moins, cuvette à son postérieur.</p>

        <p>"Poop-time" est régulièrement mise à jour et s'enrichit au fil du temps de nouvelles fonctionnalités.
        N'hésitez pas à nous suivre sur les réseaux sociaux.</p>
			</div>

		</div>

		<div class="row align-center">

			<div id="bio" class="col s12 m12 l4 xl4 center-align">

				<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_yohann.svg" alt="avatar Yohann" width="200" height="200"/>
				<h2>Yohann</h2>
				<p>Yohann Thorez est un jeune développeur passionné par les nouvelles technologies. Curieux et touche-à-tout, il a néanmoins une préférence pour l'aspect front-end des projets web. Parallèlement, Yohann porte un intérêt tout particulier pour l'écologie et la perma-culture. Son souhaite serait de devenir auto-suffisant en terme de production de nourriture et de recyclage de ses déchets. </p>
				<p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/> Je prèfere voir le verre à moitié plein qu'à moitié vide! <img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
				<a href="https://github.com/Fawlia"><img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/></a>
			</div>

			<hr class="hide-on-med-and-up">
			<div id="bio" class="col s12 m12 l4 xl4 center-align">

				<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_flo.svg" alt="avatar Floriane" width="200" height="200"/>
				<h2>Floriane</h2>
				<p>Seule fille de ce projet, j'aime les bonnets et le rose, c'est pour cela que je me retrouve coincée en back-end. J'aime le mcdo mais n'aime pas le romantisme.</p>
				<p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/> Ahlala! <img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
				<img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/>
			</div>

			<hr class="hide-on-med-and-up">
			<div id="bio" class="col s12 m12 l4 xl4 center-align">

				<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_tony.svg" alt="avatar Anthony" width="200" height="200"/>
				<h2>Anthony</h2>
				<p>Jeune barbu, aimant la technologie et les jeux vidéo. Cherche compagne ... Oh pardon, je me suis trompé d'endroit. Plus sérieusement, je suis le membre le plus jeune de ce projet et aussi le développeur Front.</p>
				<p>P.S.:Je cherche aussi une compagne, pour les intéressées.</p>
				<p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/> OK <img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
				<img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/>
			</div>
		</div>
	</div>





{% endblock %}
