{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block apropos %}
    class="active"
{% endblock %}

{% block apropos2 %}
    class="active"
{% endblock %}

{% block body %}
   <div class="container">
	   <div class="row">
			<div class="">
				<h1>Les Origines du Projet</h1>

        <p>Donc les "fameuses" origines du projet</p>
			</div>
	   </div>

	   <div class="row align-center">
	   		<div class="col s12 m12 l4 xl4 center-align">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_yohann.svg" alt="avatar Yohann" width="200" height="200"/>
	   			<h2>Yohann</h2>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea atque ad quia quibusdam cumque! Quam possimus corrupti, commodi vero, quisquam aliquid ullam nostrum quasi totam dolores eos voluptas illum architecto.</p>
          <p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/>LE COEUR DU PROJET<img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
	   			<img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/>
	   		</div>

	   		<div class="col s12 m12 l4 xl4 center-align">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_flo.svg" alt="avatar Floriane" width="200" height="200"/>
	   			<h2>Floriane</h2>
	   			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea atque ad quia quibusdam cumque! Quam possimus corrupti, commodi vero, quisquam aliquid ullam nostrum quasi totam dolores eos voluptas illum architecto.</p>
          <p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/>Lorem ipsum<img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
	   			<img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/>
	   		</div>

	   		<div class="col s12 m12 l4 xl4 center-align">
	   			<img src="http://localhost/poop_time_v2/views/img/avatar/avatar_tony.svg" alt="avatar Anthony" width="200" height="200"/>
	   			<h2>Anthony</h2>
	   			<p>Jeune barbu, aimant la technologie et les jeux vidéo. Cherche compagne ... Oh pardon, je me suis trompé d'endroit. Plus sérieusement, je suis le membre le plus jeune de ce projet et aussi le développeur Front.</p>
          <p>P.S.:Je cherche aussi une compagne, pour les intéressées.</p>
	   			<p id="citations"><img src="http://localhost/poop_time_v2/views/img/guillemets.svg" alt="github" width="25" height="25"/>OK<img src="http://localhost/poop_time_v2/views/img/guillemets2.svg" alt="github" width="25" height="25"/></p>
	   			<img src="http://localhost/poop_time_v2/views/img/github.svg" alt="github" width="50" height="50"/>
	   		</div>
	   </div>
   </div>




{% endblock %}
