<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

       <title>{% block title %}Poop Time, l'application!{% endblock %}</title>

		<meta property="og:title" content="Poop Time"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://localhost/poop_time_v2/"/>
		<meta property="og:description" content="Poop-time, l'appli qui vous sort de la merde!"/>
		<meta property="og:site_name" content="Poop Time"/>

		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:title" content="Poop Time">
		<meta name="twitter:url" content="http://localhost/poop_time_v2/">
		<meta name="twitter:description" content="Poop-time, l'appli qui vous sort de la merde!">

		<link type="text/css" rel="stylesheet" href="http://localhost/poop_time_v2/views/style/css/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="http://localhost/poop_time_v2/views/css/style.css">

		 <style>
		   #map {
				height: 400px;
				width: 100%;
		   }
		</style>

    </head>
    <body>
    	<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Logo</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="home">Accueil</a></li>
						<li><a href="form">Proposez votre toilette</a></li>
						<li><a href="top_ten">Top 10</a></li>
						<li><a href="history">Histoire</a></li>
						<li><a href="apropos">A Propos</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="home">Accueil</a></li>
						<li><a href="form">Proposez votre toilette</a></li>
						<li><a href="top_ten">Top 10</a></li>
						<li><a href="history">Histoire</a></li>
						<li><a href="fun_facts">Fun Facts</a></li>
						<li><a href="apropos">A Propos</a></li>
					</ul>
				</div>
			</nav>
     	</header>



        <main>
            {% block body %}{% endblock %}
        </main>

		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="" id="footer">
						<p>Réalisation : Floriane - Anthony - Yohann</p>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="http://localhost/poop_time_v2/views/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="http://localhost/poop_time_v2/views/js/materialize.min.js"></script>
		<script> $(".button-collapse").sideNav(); </script>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_xOsjcCZU1DVg_PyBJmJEcjxEOqeHrqg"></script>

        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {

                var mapOptions = {

                    zoom: 7,
					center: new google.maps.LatLng(47.454282, 6.166001),

					disableDefaultUI: true,


                    styles: [
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ff0000"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#c0aabd"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7f5281"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
                };


                var mapElement = document.getElementById('map');


                var map = new google.maps.Map(mapElement, mapOptions);





                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(47.454282, 6.166001),
                    map: map,
                    title: 'cv'
                });
            }
        </script>


    </body>
</html>
