<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
      
       <title>{% block title %}Poop Time, l'application!{% endblock %}</title>
        
		<meta property="og:title" content="Poop Time"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://localhost/pooptime/"/>
		<meta property="og:description" content="Poop-time, l'appli qui vous sort de la merde!"/>
		<meta property="og:site_name" content="Poop Time"/>

		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:title" content="Poop Time">
		<meta name="twitter:url" content="http://localhost/pootime/">
		<meta name="twitter:description" content="Poop-time, l'appli qui vous sort de la merde!">
		
		<link type="text/css" rel="stylesheet" href="http://localhost/PT/views/style/css/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="http://localhost/PT/views/style/css/leaflet.css" />
		<link rel="stylesheet" href="http://localhost/PT/views/css/style.css">
		
		 <style>
		   #map {
				height: 600px;
				width: 100%;
		   }
		</style>
		
    </head>
    <body>
    	<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Logo</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="home">Accueil</a></li>
						<li><a href="form">Proposez votre toilette</a></li>
						<li><a href="top_ten">Top 10</a></li>
						<li><a href="history">Histoire</a></li>
						<li><a href="apropos">A Propos</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="home">Accueil</a></li>
						<li><a href="form">Proposez votre toilette</a></li>
						<li><a href="top_ten">Top 10</a></li>
						<li><a href="history">Histoire</a></li>
						<li><a href="fun_facts">Fun Facts</a></li>
						<li><a href="apropos">A Propos</a></li>
					</ul>
				</div>
			</nav>
     	</header>
      
       

        <main>
            {% block body %}{% endblock %}
        </main>
        
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="" id="footer">
						<p>Réalisation : Floriane - Anthony - Yohann</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="http://localhost/PT/views/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="http://localhost/PT/views/js/materialize.min.js"></script>
		<script src="http://localhost/PT/views/js/leaflet.js"></script>
		<script> $(".button-collapse").sideNav(); </script>
		
		<script>
		
		var mymap = L.map('map').setView([ 47.0833300, 2.4000000], 5.8);
			
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			maxZoom: 18,
			id: 'mapbox.streets',
			accessToken: 'pk.eyJ1IjoiZmF3bGlhIiwiYSI6ImNqYmVxejI1ejI3MG4ydm1vZm9laXVya2QifQ.vUbCBecjNCgy9IEE6pDRaQ'
		}).addTo(mymap);
			
			var myIcon = L.icon({
				iconUrl: 'http://localhost/PT/views/img/icone_geo.svg',
				iconSize: [38, 95],
				iconAnchor: [22, 94],
				popupAnchor: [-3, -76],
			});

			 {% for v in mark2 %}
			L.marker([{{ v.latitude }}, {{ v.longitude }}], {icon: myIcon}).addTo(mymap);
			 {% endfor %}
			
			
			
		</script>
		
		
   
   
    </body>
</html>