{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
    	<div id="tL" class="s12 m12 l12 xl12">
    		<img id="logo" src="/front/fsimmet/poop_time_v2/views/img/logo_form.svg" alt="Logo contact" width="150" height="150" />
    		<h1>Merci</h1>
		</div>
		<div class="s12 m12 l12 xl12">
    		
    		<p id="pC">L'équipe de Poop Time vous remercie de votre message. Nous prendrons soin de vous répondre dans les plus brefs délais!
    		 </p>
    		
    	</div>
	</div>
</div>

{% endblock %}