{% extends 'base.html.twig' %}

{% block title %}Contactez-nous!{% endblock %}

{% block contact %}
  class="active"
{% endblock %}

{% block contact2 %}
  class="active"
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
    	<div id="tL" class="s12 m12 l12 xl12">
    		<img id="logo" src="http://localhost/poop_time_v2/views/img/logo_form.svg" alt="Logo contact" width="150" height="150" />
    		<h1>Contactez-nous!</h1>
		</div>
    	<div class="s12 m12 l12 xl12">
    		<p id="pC">Vous avez remarqué un bug, une erreur ou vous souhaitez tout simplement nous poser une question, proposer une amélioration/un ajout de fonctionnalité? N'hésitez pas à nous en faire part via le formulaire de contact ci-dessous.<br/><br/> Toute l'équipe de "Poop Time" vous en remercie!</p>
    	</div>
      <form id="contact" action="http://localhost/poop_time_v2/models/contact.php" method="POST">
        <div class="s12 m12 l4 xl4">
          <div class="form-group">
            <label for="pseudo"></label>
            <input type="text" name="pseudo"  class="form-control" placeholder="Votre pseudo" id="pseudo">
          </div>
        </div>
        <div class="s12 m12 l4 xl4">
          <div class="form-group">
            <label for="email"></label>
            <input type="text" name="email" class="form-control" id="email" placeholder="Votre e-mail">
          </div>
        </div>
        <div class="s12 m12 l4 xl4">
          <div class="form-group">
            <label for="ville"></label>
            <input type="text" name="ville" class="form-control" placeholder="Le nom de votre ville" id="ville">
          </div>
        </div>
        <div class="s12 m12 l12 xl12">
          <div class="form-group">
            <label for="msg"></label>
            <textarea name="msg" class="form-control" id="msg"  placeholder="Ecrivez votre message"></textarea>
          </div>
        </div>
        <div class="s12 m12 l4 xl4">
          <div class="form-group">
            <button type="submit" value="send" class="btn" id="btnP">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
