{% extends 'base.html.twig' %}

{% block title %}Histoire des toilettes publiques{% endblock %}

{% block body %}

<div class="container">
	   <div class="row">
			<div class="">
				<p>Aller aux toilettes, c’est normal, c’est naturel, c’est comme ça. Si certains laissent la porte ouverte, d’autres plus pudiques se font discrets lorsqu’ils doivent y aller. À Rome, les latrines étaient un lieu utile, pratique et surtout un point de rendez-vous. Aujourd’hui, c’est plus… solitaire. Mais alors ? Quelle est l’histoire des toilettes ?</p>

				<h2>Les latrines publiques, le caca aux yeux de tous</h2>


				<p>En Grèce, en 2500 avant JC, si certaines villes possèdent déjà des toilettes et des systèmes d’évacuation des eaux usées, ça reste somme toute très modeste. Pour s’essuyer, les Grecs utilisent principalement trois ou quatre pierres polies ou… leurs vêtements. C’est un peu dégueu quand tu dois garder ta chemise toute la journée.</p>

				<p>C’est à Rome que les latrines privées ou publiques vont se répandre. Mille ans après les premières toilettes grecques, les Romains développent les leurs et finissent par construire la « Cloaca Maxima » en -700. Il s’agit de l’immense système d’égouts de la Rome Antique.</p>

				<p>Le début de la construction des égouts date du VIIIè siècle avant notre ère, l'objectif étant d'assécher les marécages entre l'Esquilin, le Viminal et le Quirinal, du fait de l'expansion de la ville et de la croissance de sa population. Dans un premier temps l'égout était un canal à ciel ouvert, c'est en -200 qu'il est devenu complètement souterrain, et cela pour des raisons d'hygiène. Le grand égout faisait 800 mètres, il récupérait l'eau de pluie dans l'Argilète, passait par les latrines du Forum Romanum et rejoignait le Tibre.</p>

				<p>Qu’il s’agisse de latrines privées ou publiques, des litres d’eau passent sous les sièges en marbre ou en bois et évacuent les matières fécales dans des canaux jusqu’aux fleuves ou rivières les plus proches. À Rome, il s’agit du Tibre. C’est finalement l’ancêtre de la chasse d’eau !</p>



				<p>Les toilettes publiques peuvent recevoir jusqu’à 80 personnes. Dans les latrines les plus classes, les murs sont généralement ornés de marbre ou de mosaïques. Il faut que ce soit agréable et bien aéré, en effet les hommes s’y retrouvent à plusieurs pour négocier, faire du commerce ou avoir des conversations privées. Tout en faisant ce qu’ils ont à y faire. Il faut imaginer des hommes d’affaires discuter tout en se nettoyant les fesses avec un tersorium : une éponge accrochée à un bâton utilisée par les Romains pour leur hygiène anale. Grande classe. Mieux vaut l’éponge que la chemise…</p>

				<p>Au même moment, en Égypte, la cité d’Akhétaton (fondée en 1300 avant notre ère) possède des pierres percées dont l’utilité est clairement identifiable. Les pharaons et hauts personnages du pouvoir égyptien connaissent et utilisent les toilettes, en revanche, le peuple fait ses besoins dans la nature, notamment près des cours d’eau. C’est également ce qui va se passer en Europe avec la fin de l’Empire Romain.</p>

				<h2>Des toilettes à l’abandon</h2>

				<p>Dès le début du Moyen Age, il y a une rupture totale avec l’influence de Rome, notamment en ce qui concerne l’hygiène. Si c’est Romain, on oublie, et c’est bien dommage ! Surtout en ce qui concerne les toilettes. Les latrines sont abandonnées sauf dans les monastères et les couvents. Les sedilia ou sièges d’aisance sont accolés aux murs, les uns contre les autres. On retrouve dans les châteaux féodaux des fosses d’aisance : ce sont des trous percés dans les murs. Les excréments tombent alors dans le fossé intérieur ou extérieur du château, selon l’aménagement. Dans tous les cas, ça pue.</p>

				<p>Une grande partie de la population fait ses besoins à l’extérieur, ou dans un pot de chambre qu’il faut ensuite vider dans les caniveaux. Au milieu de la rue donc… L’avantage du grand air, c’est qu’on trouve facilement de quoi s’essuyer. La feuille de marronnier est réputée pour être un bon torche-cul (terme médiéval pour évoquer le papier toilette). Sinon, il reste encore et toujours les vêtements.</p>



				<p>En 1539, François Ier fait passer un édit capital en matière d’hygiène publique. Mais pas privée. Désormais les excréments doivent rester à l’intérieur pour ne pas incommoder le passant qui marche dans la rue. Concrètement ça donne quoi ? Les personnes les plus démunies vivent dans une pièce unique et doivent cohabiter avec leurs excréments plusieurs jours. Le rêve. En revanche l’urine peut toujours être déversée dans les rues. Une nouvelle corporation va alors apparaître, les vidangeurs. On les appelle les « maitres Fi-fi » (du latin fimus qui signifie fumier). Ils viennent vider la fosse d’aisance et emportent tout en périphérie de la ville, dans une décharge.</p>



				<h2>Les premiers cabinets de toilettes</h2>

				<p>Au XVIIè l’Europe évolue, particulièrement l’Angleterre. Elle s’intéresse à l’hygiène. Et c’est pas un luxe… Enfin si. Dans les châteaux et les maisons des plus favorisées, on trouve des cabinets de toilettes, meublés d’une table avec des accessoires. Et puis, certains ont même des WC. Mais qu’est-ce donc ?</p>

				<p>A la fin du XVIè siècle, la reine Élisabeth Ire d’Angleterre demande à ses meilleurs concepteurs, dont Sir John Harington, de créer un système moderne pour faire ses besoins de manière classe et distinguée. Dans la mesure du possible. Harington réalise alors des plans précis de cabinets modernes, mais ils vont tomber dans l’oubli et ne seront ressortis et améliorés que près de deux siècles plus tard, dans les années 1770, par Alexander Cummings. L’inventeur anglais va créer des toilettes avec des canalisations en S. Ce sont les premiers « water-closets ». En France, la généralisation va être longue car les canalisations ne sont pas adaptées avant le XIXè siècle.</p>



				<h2>L’hygiénisme et la révolution de l’eau</h2>

				<p>Le XIXè siècle est une période riche en innovations et transformations, en particulier dans le domaine de l’assainissement de la ville de Paris. Et il était grand temps. En 1835, c’est l’invention de la fosse mobile par Payen et Dalmont. La fosse mobile sépare les matières liquides et solides, les deux se déversant dans des tonneaux différents. C’est mieux pour les vidangeurs qui ne sont plus en contact avec les excréments. Ils remplacent le tonneau plein par un tonneau vide. C’est très pratique et bien plus hygiénique. Mais les innovations ne vont pas s’arrêter là ! Les ingénieurs mettent en place un réseau d’égouts dans les galeries souterraines de la ville. Il suffit de relier directement les latrines à l’égout. A partir de 1856 ce système est obligatoire à Paris. En effet, pour lutter contre le choléra, on supprime toutes les fosses fixes qui sont des nids à microbes. Haussmann va mettre les moyens pour ne pas que la ville de Paris soit infectée. C’est la révolution de l’eau. Les fosses (reliées à l’égout) doivent être inondées, comme les Romains le faisaient déjà plus de deux mille ans auparavant. Liquéfiés, les excréments ne peuvent pas s’accrocher sur les parois, les obstruer, le développement des maladies est moindre.</p>





				<p>Maintenant que le problème de l’hygiène est réglé, il va être question de démocratiser les toilettes. </p>



				<p>Villeroy et Boch va créer la céramique sanitaire et à partir de 1899, la marque va alors produire en grande quantité et à bas prix des accessoires de toilettes et des équipements avec rinçage (chasse d’eau). La démocratisation commence.</p>

				<p>Dans les années 1860, les hôtels privés ont des salles de bains. Avec les grands travaux d’Haussmann a lieu une modernisation des canalisations : après 1852, le branchement de distribution et d’évacuation d’eau est imposé aux logements neufs des beaux quartiers car il n’est plus possible a l’époque de maintenir les anciens égouts de Paris, trop vétustes et malodorants. En revanche, dans les garnis parisiens dans les années 1880, il n’y a pas d’eau courante, et très peu d’hygiène, on retrouve des traces de matières fécales sur les fenêtres par exemple. Pour lutter contre la saleté, l’état va créer des bains publics et des lavoirs. Les prix sont très bas pour plus d’accessibilité.</p>

				<h2>Le WC design</h2>

				<p>Jusque dans les années 1960, la salle d’eau était la pièce consacrée à l’hygiène corporelle et aux besoins. Elle était peu répandue. Par la suite, on a voulu la rendre ergonomique, pratique mais aussi jolie et agréable. C’est à ce moment là que le design et l’esthétisme commencent à apparaître.</p>

				<p>Depuis une dizaine d’années, il existe un grand choix de WC. On peut choisir le coloris, la forme, favoriser l’écologie avec des chasses de seulement 3,5 litres d’eau, contre 9 litres habituellement ou encore les cuvettes à fond plat ou équipées d’une technologie permettant de masquer les odeurs. Sans parler de tous les systèmes pour l’hygiène anale. Si au XXè siècle, le papier toilette s’est bien installé dans nos maisons, les technologies japonaises visent à le faire disparaître avec un système de jets d’eau et d’air afin d’avoir les fesses propres et douces ! Et pour ajouter un peu d’esthétisme à cet article, je vous annonce qu’on peut acheter en ligne des gélules contenant des paillettes à avaler... C’est tout de suite plus joli dans les cuvettes…</p>

		</div>
	</div>
</div>


{% endblock %}