
{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
   
        <h1>Carte de France des Toilettes</h1>
        
        <div id="map">
        	
        </div>
       

{% endblock %}