{% extends 'base.html.twig' %}

{% block title %}Proposez votre toilette{% endblock %}

{% block body %}

<script>
	
	console.log(localStorage.getItem("lat"));
	console.log(localStorage.getItem("lng"));
	
	
	
</script>
  
<div class="container">
    <div class="row">
       <div class="s12 m12 l12 xl12">
        <form id="contact" action="http://localhost/poop_time_v2/models/insert.php" method="POST">
           
        
            
            <div class="">
                <div class="form-group">
                    <label for="lat"></label>
					<input type="hidden" name="lat" value="<script>localstorage.getItem('lat')</script>" class="form-control" id="lat">
                </div>
            </div>
            
            <div class="">
                <div class="form-group">
                    <label for="lng"></label>
                    <input type="hidden" name="lng" value="<script>localstorage.getItem('lng')</script>" class="form-control" id="lng">
                </div>
            </div>
            
             <div class="">
                <div class="form-group">
                    <label for="ville">La ville</label>
                    <input type="text" name="ville" class="form-control" id="ville">
                </div>
            </div>
            
            <div class="">
                <div class="form-group">
                    <label for="pseudo">Pseudo</label>
                    <input type="text" name="pseudo" class="form-control" id="pseudo">
                </div>
            </div>
            
       
            <div class="">
                <div class="form-group">
                    <label for="msg">Commentaire *</label>
                    <textarea name="msg" class="form-control" id="msg"  placeholder="Ecrivez votre message"></textarea>
                </div>
            </div>

            <div class="">
                <div class="form-group">
                    <button type="submit" value="send" class="btn">Envoyer</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}