$color1: #FFFFFF;
$color2: #2a84be;
$color_action: #F2CFAF;

html, body{
  background-color: $color1;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
  position: absolute;
  top: 80px;
}

main{
  height: 100%;
  width: 100%;
  #map{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

#accueil{
  z-index: 10000;
  position: absolute;
  nav{
    background-color: $color2;
    li{
      a{
        height: 56px;
        line-height: 56px;
      }
    }
    .nav-wrapper{
      .brand-logo{
        #logo_medium{
          padding-top: 3px;
        }
      }
    }
    .side-nav{
      background-color: $color2;
      z-index: 10000;
      .active{
        background-color: $color_action;
      }
    }
  }
}

#base_nav{
  z-index: 10000;
  #base{
    background-color: $color2;
    .nav-wrapper{
      .brand-logo{
        #logo_medium{
          padding-top: 3px;
        }
      }
    }
    .side-nav{
      background-color: $color2;
      z-index: 10000;
      .active{
        background-color: $color_action;
      }
    }
  }
}

#citations{
  font-size: 25px;
  font-weight: bold;
}
