$color1: #FFFFFF;
$color2: #F2A866;
$color_action: #F2CFAF;

html, body{
  background-color: $color1;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
  #map{
    height: 100%;
    width: 100%;
  }
}

nav{
  background-color: $color2;
  .nav-wrapper{
    .brand-logo{
      #logo_medium{
        padding-top: 3px;
      }
    }
  }
  .side-nav{
    background-color: $color2;
    z-index: 10000;
    .active{
      background-color: $color_action;
    }
  }
}
