$color1: #F2CFAF;
$color2: #F2A866;
$color_action: #A67346;

body{
  background-color: $color1;
}

nav{
  background-color: $color2;
  .side-nav{
    background-color: $color2;
    z-index: 10000;
  }
}
